body{
font-family: 'Roboto';
justify-items: center;
background:linear-gradient(90deg, #E6A5B0, #99B3E8);
}

h1{ 
    color:#fff;
    font-family: 'Bungee';
    font-size:80px;
    font-weight: 800;
    margin-top: 40px;
}

#title-2{
    color:#364158e0;
    font-family: 'Bungee';
    font-size:35px;
    font-weight: 400;
    margin-top: -65px;
    text-align: center;
}
.form-group {
    margin-top: 20px;
    margin-bottom: 10px;
}
#empcode{
    margin-top: 160px;;
}
#empcode, .form-group input{
    color:#364158e0;
    font-family: 'Open Sans';
    font-size:15px;
    font-weight: 600;
    text-align: center;
    width:350px;
    padding:15px;
    outline: none;
    border: none;
    border-radius: 6px;
}
#dataForm{
    margin-top:-10px;
}
button{
    margin-left: 95px;
    width:160px;
    height:50px;
    margin-top: 10px;
    color:#364158e0;
    font-family: 'Open Sans';
    font-size:15px;
    font-weight:600;
    border: none;
    border-radius: 6px;
}
.form-button button{
    margin-left: 0;
}
.form-button{
    display: flex;
    width: 350px;
    justify-content: space-around;
}